body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.divClass {
  width: 600px;
  font-weight: bold;
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.spanClass {
  background-color: rgb(236, 140, 22);
  margin: auto;
}
.buttonclass {
  background-color: lightsteelblue;

  font-size: 30px;
  color: rgb(255, 0, 0);
  border: none;
  cursor: pointer;
}
.trclass {
  width: 30px;
  background-color: lightsteelblue;
}
.tdclass {
  width: 70px;
}
.tdcount {
  width: 30px;
}

.tclass {
  margin: auto;
  width: 70%;
  border: 1px solid black;
  text-align: center;
  background-color: ivory;
  table-layout: fixed;
}
